.home{
    height:80vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.home h1{
    font-size:48px;
    margin-bottom:20px;
}

.home p{
    font-size:22px;
    color:gray;
}